@import "tailwindcss";

@font-face {
    font-family: bad_handwriting;
    src: url('/bad_handwriting.ttf') format('truetype');
}

@theme {
    --font-bad-handwriting: 'bad_handwriting', serif;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

html {
    scroll-behavior: smooth;
}

.scrollbar {
    scrollbar-color: rgb(244, 207, 225) transparent;
    scrollbar-width: 40px;
}