@import "tailwindcss";

@font-face {
    font-family: bad_handwriting;
    src: url(bad_handwriting.ttf);
}

.bad-handwriting {
    font-family: bad_handwriting;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

html {
    scroll-behavior: smooth;
}

.scrollbar {
    scrollbar-color: rgb(244, 207, 225) transparent;
    scrollbar-width: 40px;
}